# Project exclude paths
/.gradle/
/app/build/
/app/build/classes/java/main/
/auction/auction-event/build/
/auction/auction-event/build/classes/java/main/
/auction/auction-publisher/build/
/auction/auction-publisher/build/classes/java/main/
/auction/bid/bid-api/build/
/auction/bid/bid-api/build/classes/java/main/
/auction/bid/bid-event/build/
/auction/bid/bid-event/build/classes/java/main/
/auction/bid/bid-publisher/build/
/auction/bid/bid-publisher/build/classes/java/main/
/auction/bid/bid-service/build/
/auction/bid/bid-service/build/classes/java/main/
/auction/bid/build/
/auction/bid/config/build/
/auction/bid/config/build/classes/java/main/
/auction/bid/listener/build/
/auction/bid/listener/build/classes/java/main/
/auction/build/
/auction/listener/build/
/auction/listener/build/classes/java/main/
/auction/lot/build/
/auction/lot/config/build/
/auction/lot/config/build/classes/java/main/
/auction/lot/listener/build/
/auction/lot/listener/build/classes/java/main/
/auction/lot/lot-event/build/
/auction/lot/lot-event/build/classes/java/main/
/auction/lot/lot-service/build/
/auction/lot/lot-service/build/classes/java/main/
/claim/build/
/claim/claim-api/build/
/claim/claim-api/build/classes/java/main/
/claim/claim-event/build/
/claim/claim-event/build/classes/java/main/
/claim/claim-publisher/build/
/claim/claim-publisher/build/classes/java/main/
/claim/claim-service/build/
/claim/claim-service/build/classes/java/main/
/claim/listener/build/
/claim/listener/build/classes/java/main/
/common/build/
/common/build/classes/java/main/
/communication/build/
/communication/listener/build/
/communication/listener/build/classes/java/main/
/exception/build/
/exception/build/classes/java/main/
/persistence/bid/build/
/persistence/bid/build/classes/java/main/
/persistence/build/
/persistence/claim/build/
/persistence/claim/build/classes/java/main/
/persistence/customer/build/
/persistence/customer/build/classes/java/main/
/persistence/enum/build/
/persistence/enum/build/classes/java/main/
/persistence/lot/build/
/persistence/lot/build/classes/java/main/
/persistence/producer/build/
/persistence/producer/build/classes/java/main/
/persistence/user/build/
/persistence/user/build/classes/java/main/
/producer/build/
/producer/config/build/
/producer/config/build/classes/java/main/
/producer/producer-api/build/
/producer/producer-api/build/classes/java/main/
/producer/producer-service/build/
/producer/producer-service/build/classes/java/main/
/user/build/
/user/config/build/
/user/config/build/classes/java/main/
/user/user-api/build/
/user/user-api/build/classes/java/main/
/user/user-service/build/
/user/user-service/build/classes/java/main/